<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>天候情報</title>
</head>
<body>
  <h2>天候情報</h2>
  <h3>天気:晴れ</h3>
  <h3>風:風速7m</h3>
  <h3>風向き:北東，追い風</h3>
  <a href="index">トップへ戻る</a>
</body>
</html>