<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>あっちむいてほい</title>
</head>
<body>
    <p>お前は<%= you %>を向きました</p>
    <p>相手は<%= enemy %>を指さしました</p>
    <p>お前の<%= judge %>です</p>
</body>
</html>