<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ボクシング</title>
</head>
<body>
    <p>お前は<%= side %>側をなぐりました</p>
    <p>相手は<%= enemy_side %>をガードしました</p>
    <p>お前の攻撃は<%= judge %>ました</p>
</body>
</html>